# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Python (Backend)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# =========================
# Node / Next.js (Frontend)
# =========================
node_modules/
.next/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/
